html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#891216, #fff);
    
}
  
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    border-color:#141;
}
  
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

#successMSG {
    position: relative;
    top: 3em;
    color: #fff;
    text-align: center;
}

#question-box{
    text-align: center;
    color: black;
    width: 320px;
    height: 30px;
}

#post-box, #choose-other-box, #post-other-box{
    position: relative;
    top: 20px;
    display: block;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    flex: 1;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0;
    border-radius: 0%;
}
.btn-container:hover{
    background: rgb(163, 163, 163);
    border: none;
    padding: 0%;
}
#clss-selection-box:hover{
    background: rgb(163, 163, 163);
    margin: 0%;
    padding: 0%;
    border: none;
}

#clss-selection-box{
    flex: 1;
}

#new-q-box{
    display: block;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 10 auto;
    flex: 1;
}

#question-box {
    width: 6;
    border-radius: 10px;
}

#div-post-delete-form{
    width: 1000px;
    height: 20px;
}

#delete-post-box, #delete-comment-box{
    background-color:rgba(0, 0, 0, 0);
    color:red;
    
    border-style: solid;
    border-radius: 15px;
    border-color: red;
}

.comment-box #delte-comment-box{
    position: sticky;
    bottom: 90%;
}

.del-comm{
    height: 20px;
    width: 20px; 
    position: relative;
    right: 22px;
    bottom: 15px;
    background-color: white;
}

#delete-comment-box{
    position: sticky;
    top: 100%;
    left: 5%;
    height: 15px;
    width: 15px;
    font-size: 10px;
    line-height: 5px;
    padding: 1px;
    opacity: 0.44;
}

#delete-comment-box:hover{
    opacity: 1;
}

#delete-button-form{
    position: relative;
    bottom: 20px;
}

#delete-post-box{
    position: relative;
    right: 95%;
    bottom: 90%;
    height: 20px;
    width: 20px;
    font-size: 14px;
    line-height: 6px;
    text-align: left;
    padding: 4px;
    opacity: 0.44;
}

#delete-post-box:hover{
    background-color:rgb(196, 196, 196) ;
    opacity: 1;
}

#question-info{
    width: 150px;
}

.comment-box{
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(153, 144, 144);
    padding: 10px;
    padding-top: 0;
    padding-right: 20px;
}

.accordion-button{
    text-align: left;
    margin: 5;
}

.accordion-button:hover{
    background-color: rgb(163, 163, 163);
}

.accordion-button:not(.collapsed){
    color: rgb(33, 37, 41);
    background-color: rgb(163, 163, 163);
}

.accordion, .accordion-item, .accordion-head, .accordion-body{
    /*
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    */
   
}