{% extends "baseTemplate.html" %}

{% block title %} Delete Account {% endblock %}
<body class = "del-acc-page">
    {% block pageContent %}
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">

        <div class = "row d-flex justify-content-center align-items-center" id = "login-container">
            <div class="col-xl-10" id = "del-acc-col">
                <div class="card rounded-3 text-black">
                    <div class="card-body" id = "delete-account">
    
                        {% with messages = get_flashed_messages() %} 
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class = "text-center text-black"> {{msg}} </p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="text-center">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/NMSU_seal.png"
                                style="width: 185px;" alt="logo">
                            <h4 class="mt-1 mb-5 pb-1">Delete Account Page</h4>
                        </div>

                        <form action="#" method = "POST">
                            {{ form.hidden_tag() }}
                            <p class = "text-center"> Enter Account information to delete </p>

                            <div class="text-center form-outline mb-4" id = "login-username-box">
                                {{ form.username }}
                            </div>

                            <div class="text-center form-outline mb-4" id = "login-password-box">
                                {{ form.password }}
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    {% endblock %}
</body>