{% extends "baseTemplate.html" %}

{% block title %} Q&A {% endblock %}

{% block pageContent %}
    <div class = "btn-container">
        <!-- Buttons that will redirect students to the specific class category they want -->
        <form class = "input-group" action = "/viewCS-1" method = "post"> 
            <input type = "submit" name = "submit-button" value = "CS-1" id = "clss-selection-box" />
        </form>
        <form class = "input-group" action = "/viewCS-2" method = "post"> 
            <input type = "submit" name = "submit-button" value = "CS-2" id = "clss-selection-box" />
        </form>
        <form class = "input-group" action = "/viewCS-3" method = "post"> 
            <input type = "submit" name = "submit-button" value = "CS-3" id = "clss-selection-box" />
        </form>
        <form class = "input-group" action = "/viewCS-4" method = "post"> 
            <input type = "submit" name = "submit-button" value = "CS-4" id = "clss-selection-box" />
        </form>
        <form class = "input-group" action = "/viewQuestions" method = "post"> 
            <input type = "submit" name = "submit-button" value = "General" id = "clss-selection-box" />
        </form>
    </div>

    <form class = "input-group" action = "/showingClassOptions" method = "post"> 
        <input type = "submit" name = "submit-button" value = "New Question" id = "new-q-box" />
    </form>

    <h2> This class has no questions posted. Click "New Question" to be the first poster...</h2>
    
{% endblock %}