{% extends "baseTemplate.html" %}

{% block title %} 
    Login Page 
{% endblock %}

{% block pageContent %} 

    <h1>
        Welcome to the Login Page
    </h1>

    {% with messages = get_flashed_messages() %} 
        {% if messages %}
            {% for msg in messages %}
                <p id = "successMSG"> {{msg}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action = "/register">
        <input type = "submit" value = "Don't have an account?">
    </form>

    <form action = "#" method = "POST"> 
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>
{% endblock %}