{% extends "baseTemplate.html" %}

{% block title %} 
    Login Page 
{% endblock %}

{% block pageContent %} 
    <div class = "row d-flex justify-content-center align-items-center" id = "login-container">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0" id = "second-row">
                    <div class="col-lg-6">
                        <div class="card-body">

                            {% with messages = get_flashed_messages() %} 
                                {% if messages %}
                                    {% for msg in messages %}
                                        <p class = "text-center text-black"> {{msg}} </p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                            <div class="text-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/NMSU_seal.png"
                                    style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">Welcome to the Login Page</h4>
                            </div>

                            <form action="#" method = "POST">
                                {{ form.hidden_tag() }}
                                <p class = "text-center">Please login to your account</p>

                                <div class="text-center form-outline mb-4" id = "login-username-box">
                                    {{ form.username }}
                                </div>

                                <div class="text-center form-outline mb-4" id = "login-password-box">
                                    {{ form.password }}
                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    {{ form.submit }}
                                </div>
                            </form>

                            <div class="d-flex align-items-center justify-content-center pb-4">
                                <p class="mb-0 me-2">Don't have an account?</p>
                                <form action = "/register">
                                    <input type = "submit" value = "Create Account">
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">How to login...</h4>
                            <p class="small mb-0"> 
                                When registering an account an email was used. 
                                We have used the beginning of that email to create an account with an associated user name. 
                                For example, an account using the email “johnsmith@nmsu.edu” would have the username “johnsmith” associated with the account. 
                            </p>

                            <br>

                            <p class="small mb-0"> 
                                With this information, use the beginning of the email you used to register as your username in the login info. The password is the same as the one used when registering an account.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}