{% extends "baseTemplate.html" %}

{% block title %} Q&A {% endblock %}

{% block pageContent %}

<div class = "row d-flex justify-content-center align-items-center">
    <div class="col-xl-10" id = "login-boxes">
        <div class="card rounded-3 text-black">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">

                        {% with messages = get_flashed_messages() %} 
                            {% if messages %}
                                {% for msg in messages %}
                                    <p class = "text-center text-black"> {{msg}} </p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <div class="text-center">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/NMSU_seal.png"
                                style="width: 185px;" alt="logo">
                            <h4 class="mt-1 mb-5 pb-1">Welcome to the Register Page</h4>
                        </div>

                        <form action="#" method = "POST">
                            {{ form.hidden_tag() }}
                            <p class = "text-center">Please login to your account</p>

                            <div class="text-center form-outline mb-4" id = "login-username-box">
                                {{ form.username }}
                            </div>

                            <div class="text-center form-outline mb-4" id = "login-password-box">
                                {{ form.password }}
                            </div>

                            <div class="text-center pt-1 mb-5 pb-1">
                                {{ form.submit }}
                            </div>
                        </form>

                        <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            <form action = "/login">
                                <input type = "submit" value = "Already have an account?">
                            </form>
                        </div>

                    </div>
                </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">How to Register...</h4>
                            <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
