{% extends "baseTemplate.html" %}

{% block title %} Q&A {% endblock %}

{% block pageContent %}

    <!-- Buttons that will redirect students to the specific class category they want -->
    <div class = "btn-container">
      <form class = "input-group" action = "/viewCS-1" method = "post"> 
        <input type = "submit" name = "submit-button" value = "CS-1" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewCS-2" method = "post"> 
        <input type = "submit" name = "submit-button" value = "CS-2" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewCS-3" method = "post"> 
        <input type = "submit" name = "submit-button" value = "CS-3" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewCS-4" method = "post"> 
        <input type = "submit" name = "submit-button" value = "CS-4" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewQuestions" method = "post"> 
        <input type = "submit" name = "submit-button" value = "General" id = "clss-selection-box" />
      </form>
    </div>

    <var id = "counter"></var>

    <!-- Will be loading in each questions template and each questions comments templates -->
    {% for item in htmlQuestion %}
      <div class="accordion" id="accordionPanel-Questions">
        <div class="accordion-item">
          <h2 class="accordion-header" id = "accordionPanel-Questions">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{item._id}}" aria-expanded="false" aria-controls="panelsStayOpen-{{item._id}}">
              <!-- Since you can only post if you're logged in you can use the currentUser to find out whether or not the person currently logged in 
                    is the person that posted the question. If they are the same, they are given the option to delete the post -->
              {% if item.posterName == currentUser%}
                <div class = "div-post-delete-form">
                  <form class = "input-group" action = "/deletePost/{{item._id}}/{{item.csClass}}" method = "post" id = "delete-button-form"> 
                    <input type = "submit" name = "submit-button" value = "X" id = "delete-post-box" />
                  </form>
                </div>
              {% endif %}
              <p id = "question-info">Class: {{item.csClass}} </p> 

              <p id = "question-info"> Posted by: {{item.posterName}} </p><!-- .csCSClass, posterName, and ._id are all attributes in the db model -->
            </button>
          </h2>
          <div id="panelsStayOpen-{{item._id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p> <strong>Question: </strong> {{item.userQuestion}} </p>
                <br>
                <p><strong>Comments: </strong></p>
                <br>
                {% for comment in htmlResponses %}
                  
                    {% if comment.post_id == item._id %}    
                      <div class = "comment-box">
                        {% if comment.posterUsername == currentUser %}
                          <!-- Kind of like the last if checking if currentUser is the same as the comment poster. If they are they can delete the post and if not
                                they are not given the option to delete  -->
                          <form class = "del-comm" action = "/deleteComment/{{comment.id}}/{{item.csClass}}" method = "post"> 
                            <input type = "submit" name = "submit-button" value = "X" id = "delete-comment-box" />
                          </form>
                          {% endif %}
                          <p>{{comment.content}}</p>
                          <p> Comment By: {{comment.posterUsername}}</p> 
                      </div>  
                      <br>
                    {% endif %}
                {% endfor %}
                <form class = "input-group" action = "/createComment/{{item._id}}/{{item.csClass}}" method = "post"> 
                        <input type = "text" placeholder = "enter response..." id = "response-box" name = "userResponse" size = 40/> <!-- name is used in the python stuff and id is used in the css stuff -->
                        <input type = "submit" name = "submit-button" value = "Post Response" id = "create-comment-box" />
                </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}