{% extends "baseTemplate.html" %}

{% block title %} Delete Account {% endblock %}

{% block pageContent %}
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">

        <h1> These are the reported comments... </h1>

        {% with messages = get_flashed_messages() %} 
            {% if messages %}
                {% for msg in messages %}
                    <p id = "successMSG"> {{msg}} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% for question in repoQst %}
            <div class="accordion accordion-flush" id="accordionPanel-Questions">
                <div class="accordion-item">
                    <h2 class="accordion-header" id = "accordionPanel-Questions">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{question._id}}" aria-expanded="false" aria-controls="panelsStayOpen-{{question._id}}">
                            <div class = "question-info">
                                <p id = "question-info">Question: {{question.userQuestion}} Posted by: {{question.posterName}} </p><!-- .csCSClass, posterName, and ._id are all attributes in the db model -->
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-{{question._id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <form class = "del-reported-comm" action = "/deleteReportedPost/{{question._id}}" method = "post"> 
                                <input type = "submit" name = "submit-button" value = "Delete question" id = "delete-reported-question-input" />
                            </form>
                            <form class = "repost-reported-comm" action = "postReportedPost/{{question._id}}" method = "post"> 
                                <input type = "submit" name = "submit-button" value = "Repost question" id = "repost-reported-question-input" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
                                   
        
{% endblock %}