{% extends "baseTemplate.html" %}

{% block title %} Q&A {% endblock %}

{% block pageContent %}

    <!-- Buttons that will redirect students to the specific class category they want -->
    <div class = "btn-container">
      <form class = "input-group" action = "/viewCS-1" method = "post"> 
        <input class = "rounded-3" type = "submit" name = "submit-button" value = "CS-1" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewCS-2" method = "post"> 
        <input class = "rounded-3"type = "submit" name = "submit-button" value = "CS-2" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewCS-3" method = "post"> 
        <input class = "rounded-3"type = "submit" name = "submit-button" value = "CS-3" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewCS-4" method = "post"> 
        <input class = "rounded-3"type = "submit" name = "submit-button" value = "CS-4" id = "clss-selection-box" />
      </form>
      <form class = "input-group" action = "/viewQuestions" method = "post"> 
        <input class = "rounded-3"type = "submit" name = "submit-button" value = "General" id = "clss-selection-box" />
      </form>
    </div>

    <var id = "counter"></var>

    <!-- Will be loading in each questions template and each questions comments templates -->
    {% for item in htmlQuestion %}
      <div class="accordion accordion-flush rounded-3" id="accordionPanel-Questions">
        <div class="accordion-item rounded-3">

          <!-- This is where the three dots show up for the post options -->
          <div id = "test-cont" class = "rounded-3">
            <p id = "poster-info"> <strong> class/{{item.csClass}} </strong> . Posted by u/{{item.posterName}} </p><!-- .csCSClass, posterName, and ._id are all attributes in the db model -->
            <div id="container"class = "rounded-3">
              <div id="menu-wrap"class = "rounded-3">
                
                <input type="checkbox" class="toggler rounded-3" style="font-size:1.2vw;"/>
                <div class="dots" style="font-size:1.2vw;">
                  <div></div>
                </div>
                <div class="menu rounded-3">
                  
                    <ul class = "post-options">
                      {% if item.posterName == currentUser%}
                        
                          <form class = "input-group" action = "/deletePost/{{item._id}}/{{item.csClass}}" method = "post" id = "delete-button-form"> 
                            <input type = "submit" name = "submit-button" value = "Delete Post" id = "delete-post-box" />
                          </form>
                        
                      {% endif %}
                      <form class = "input-group" action = "/reportPost/{{item._id}}/{{item.csClass}}" method = "post"> 
                        <input type = "submit" name = "submit-button" value = "Report Post" id = "report-post-box" />
                      </form>
                    </ul>

                </div>
              </div>
            </div>
          </div>

          <!-- The rest of the info in the post header -->

          <h2 class="accordion-header rounded-3" id = "accordionPanel-Questions">
            <button id = "post-button-info" class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-{{item._id}}" aria-expanded="false" aria-controls="panelsStayOpen-{{item._id}}">
              <div class = "question-info">
                
                <div class = "question-header">
                  <p style="white-space: pre-line">{{item.userQuestion}} </p>
                  <br>
                </div>
              </div>
            </button>
          </h2>
          <div id="panelsStayOpen-{{item._id}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <p><strong>Comments: </strong></p>
                <br>

                {% for comment in htmlResponses %}
                    {% if comment.post_id == item._id %}  
                      
                    {% endif %}
                    
                {% endfor %}

                <!-- TODO: changee the buttons so that they are '...' that give you the option to delete or report -->

                {% for comment in htmlResponses %}
                    {% if comment.post_id == item._id %}   
                      <div class = "comment-box">
                          <div id = "comment-header">
                            <p id = "comment-info"> Commented by user/{{comment.posterUsername}}</p> 
                            <button type = "button" class = "btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id = "options-comment"> ... </button>
                            <ul class = "dropdown-menu" > 
                              <form class = "del-comm" action = "/reportComment/{{comment.id}}/{{item.csClass}}" method = "post"> 
                                <input type = "submit" name = "submit-button" value = "Report Comment" id = "delete-comment-box" style="font-size:1.2vw;"/>
                              </form>
                              {% if comment.posterUsername == currentUser %}
                                <!-- Kind of like the last if checking if currentUser is the same as the comment poster. If they are they can delete the post and if not
                                      they are not given the option to delete  -->
                                
                                  <form class = "del-comm" action = "/deleteComment/{{comment.id}}/{{item.csClass}}" method = "post"> 
                                    <input type = "submit" name = "submit-button" value = "Delete Comment" id = "delete-comment-box" style="font-size:1.2vw;"/>
                                  </form>
                                
                                {% endif %}
                            </ul>
                        </div>
                          
                          <p style="white-space: pre-line" style = " font-size:1.2vw;">{{comment.content}}</p>
                      </div>  
                      <br>
                    {% endif %}
                    
                {% endfor %}
                <form class = "input-group" action = "/createComment/{{item._id}}/{{item.csClass}}" method = "post"> 
                        <!--<input type = "text" placeholder = "enter response..." id = "response-box" name = "userResponse" size = 40/>  name is used in the python stuff and id is used in the css stuff -->

                          <!--<input type = "text" placeholder = "enter question..." id = "question-box" name = "userQuestion" size = 40/>  name is used in the python stuff and id is used in the css stuff -->
                        <textarea name="userResponse" id = "response-box"></textarea>

                        
                        <input type = "submit" name = "submit-button" value = "Post Response" id = "create-comment-box" onkeydown = "return event.key != 'Enter';" />
                </form>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}